!!!5

%html
	%head
		%link{:href => "/styles/reset.css", :rel=>"stylesheet"}
		%link{:href => "/styles/main.css", :rel=>"stylesheet"}
		%title Telecast Editor
	%body
		%section#content
			%h1 Welcome to the Telecast Editor
			.panel
				%label{:for => "youtubeUrl"} Input a YouTube URL
				%input#youTube-url{:type=>"text", :value=>"http://www.youtube.com/watch?v=MWt9lJnQuFw"}
				%input#youTube-video-id{:type=>"text", :disabled=>"true"}
			.panel#editor-wrapper

		%script{:src=>"/js/jquery-2.0.0.min.js"}
		-# We load the Youtube API syncronously because the user needs it to do much of anything
		%script{:src=>"https://www.youtube.com/iframe_api"}
		%script{:src=>"/js/main.js"}